
.article-page{
	padding: 50px 5px;
}

.article-box{
	display: block;
	width: 100%;
	min-height: 700px;
	border: solid 1px #DFDFDF;
	border-radius: 0px;
	background-color: #ECECEC;
	padding: 5px 0px;
}

.article-item{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.article-title{
	font-family: 'Bevan';
}

.article-title h3{
	font-size: 42px;
	color: #3B3B3B;
	margin-bottom: 0px;
}

.author-name{
	margin-top: 0px;
}

.author-name h5{
	margin-top: 0px;
}

.author-name h5{
	font-size: 18px;
}

.author-name a{
	font-family: 'Bitter';
	font-size: 20px;
	text-decoration: none;
}

.author-name a:hover{
	text-decoration: none;
}

.author-name a:link{
	text-decoration: none;
}

.article-img{
	margin: 25px 0px;
	display: block;
	height: 500px;
	width: 100%;
	background-color: #E3E3E3;
	overflow: hidden;
}

.article-img img{
	height: auto;
	width: 100%;
	position: center center;
}

.article-content p{
	font-size: 18px;
	font-family: 'Kreon';
	color: #383838;
}

.article-gap{
	display: block;
	height: 10px;
}

.page-gap{
	display: block;
	height: 65px;
}

.comment-form-section{
	margin-top: 20px;
	background-color: #DADADA;
	border: solid 1px #B7B7B7; 
	padding: 10px;
}

.comment-container{
	margin-top: 20px;
	background-color: #DADADA;
	border: solid 1px #B7B7B7; 
	padding: 10px;
}

.author-section img{
	height: 60px;
}

.author-section h3{
	font-size: 15px;
	margin-top: 5px;
}

.comment-section p{
	font-size: 16px;
}