.main-wrapper {
  min-height: 100vh;
  position: relative;
}

.body-wrapper {
  //padding-bottom: 70px;
  background-color: #F5F5F5 !important;
}

.foot-wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
}