
.quotes-section{
	position: relative;
	height: 480px;
	background: url("../images/quote_back.jpg") no-repeat;
	background-position: center center;
	//background-attachment: fixed;
}

.quote-overlay{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(10, 131, 167, 0.65);;
}